html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding-top: 30px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  padding-top: 80px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.search-form {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1;
  background-color: #cacaca;
  border-bottom: 1px solid #ececec;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 24px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

/* --- Gallery List --- */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.photo-card {
  height: 250px;
  overflow: hidden;
  background-color: #e2e2e2;
}

.gallery img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery a {
  text-decoration: none;
  color: #2a2a2a;
}

.stats {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.stats-item {
  display: flex;
  margin: 7px;
}

.stats-item > i {
  margin: 2px;
}
